.menu-wrapper {
  padding: 120px 80px;
  min-height: 100vh;
  color: white;
}

.menu-title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 10px;
}

.menu-subtitle {
  text-align: center;
  color: #aaa;
  margin-bottom: 60px;
}

/* Grid */
.exercise-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  max-width: 1100px;
  margin: 0 auto;
}


/* Card */
.exercise-card {
  background: linear-gradient(145deg, #1a1330, #0f0a1f);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
  border: 1px solid rgba(132, 0, 255, 0.2);
}

.exercise-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 40px rgba(132, 0, 255, 0.6);
}
.exercise-card:hover .exercise-title {
  color: #39d353;
}


/* Image */
.image-wrapper {
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.image-wrapper img {
  max-height: 160px;
  max-width: 100%;
  object-fit: contain;
  filter: drop-shadow(0 0 10px rgba(132, 0, 255, 0.5));
}

.exercise-card h3 {
  margin-bottom: 8px;
}

.exercise-title {
  margin-top: 18px;
  font-size: 18px;
  font-weight: 500;
  color: #e5e5e5;
}



/* Tablet */
@media (max-width: 1024px) {
  .exercise-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 600px) {
  .exercise-grid {
    grid-template-columns: 1fr;
  }
}
