/* ========================= */
/* Global Reset */
/* ========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* ========================= */
/* THEME VARIABLES */
/* ========================= */

:root {
  --text-color: white;
  --bg-base: #060010;
  --bg-grad-1: rgba(95, 70, 210, 0.859);
  --bg-grad-2: rgba(9, 132, 151, 0.69);
}

[data-theme="light"] {
  --text-color: #121212;
  --bg-base: #f0f4f8;
  --bg-grad-1: rgba(150, 130, 255, 0.25);
  --bg-grad-2: rgba(40, 200, 220, 0.25);
}

body {
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  color: var(--text-color);
  background:
    radial-gradient(circle at 30% 40%, var(--bg-grad-1), transparent 60%),
    radial-gradient(circle at 75% 75%, var(--bg-grad-2), transparent 60%),
    var(--bg-base);
  transition: background 0.4s ease, color 0.4s ease;
}

html {
  scroll-behavior: smooth;
}